.wrapper {
  min-height: 300px;
  overflow: auto;
  box-sizing: border-box;
  margin-bottom: 60px; }

.wrapper::-webkit-scrollbar {
  width: 6px; }

.wrapper::-webkit-scrollbar-thumb {
  height: 60px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3); }

.wrapper::-webkit-scrollbar-track {
  border-radius: 6px; }

.audience-list {
  padding: 0 15px; }

.audience-list > li {
  display: flex;
  padding: 13px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.left-side {
  display: flex;
  align-items: center; }

.audience-icon {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  overflow: hidden;
  background: url("../../assets/images/avater.png") no-repeat;
  background-size: 100%;
  margin-right: 9px; }

.audience-icon img {
  display: block;
  width: 100%; }

.audience-name {
  max-width: 92px;
  font-size: 12px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 6px; }

.lv-nobel {
  width: 30px;
  height: 15px;
  margin-right: 5px; }

.lv-nobel.nobel100 {
  background: url("../../assets/images/nobleicon2_1.png") no-repeat;
  background-size: 100%; }

.lv-nobel.nobel200 {
  background: url("../../assets/images/nobleicon2_2.png") no-repeat;
  background-size: 100%; }

.lv-nobel.nobel300 {
  background: url("../../assets/images/nobleicon2_3.png") no-repeat;
  background-size: 100%; }

.lv-nobel.nobel400 {
  background: url("../../assets/images/nobleicon2_4.png") no-repeat;
  background-size: 100%; }

.lv-nobel.nobel500 {
  background: url("../../assets/images/nobleicon2_5.png") no-repeat;
  background-size: 100%; }

.lv-vip {
  width: 14px;
  height: 15px;
  font-size: 12px;
  color: #fff;
  padding-left: 16px;
  line-height: 15px; }

.lv-vip.vip1 {
  background: url("../../assets/images/live_vip_1.png") no-repeat;
  background-size: 100%; }

.lv-vip.vip2 {
  background: url("../../assets/images/live_vip_2.png") no-repeat;
  background-size: 100%; }

.lv-vip.vip3 {
  background: url("../../assets/images/live_vip_3.png") no-repeat;
  background-size: 100%; }

.lv-vip.vip4 {
  background: url("../../assets/images/live_vip_4.png") no-repeat;
  background-size: 100%; }

.lv-vip.vip5 {
  background: url("../../assets/images/live_vip_5.png") no-repeat;
  background-size: 100%; }

.lv-vip.vip6 {
  background: url("../../assets/images/live_vip_6.png") no-repeat;
  background-size: 100%; }

.lv-vip.vip7 {
  background: url("../../assets/images/live_vip_7.png") no-repeat;
  background-size: 100%; }

.follow-btn {
  width: 48px;
  font-size: 12px;
  color: #FF75A1;
  line-height: 21px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  cursor: pointer; }
